
# IDE and editor ignores
# Editors
.idea
*.iml
*.sublime-project
*.sublime-workspace
*.komodoproject
*.komodotools
*.kate-swp
*.kate-swp.*
*~.nib
*.swp
*~
*.swp
.DS_Store

pids
logs
results
tmp

# Ignore built ts files
dist/**/*

# Dependencies
node_modules/

# Testing
coverage/
debug_project

# Package files
npm-debug.log
yarn-error.log

# API keys and secrets
.env

#pack file
simply-express-generator-*.tgz